<div class="container letra">
    <div class="row">
        <div class="col-md-12" style="padding-bottom: 235px;">
            <br>
            <h5 class="text-center">Soluciones Informáticas a Tu Alcance, Desde el Software hasta la Reparación</h5>
            <h1 class="text-center">Servicios Técnicos de Mercy Developer</h1>

            <div class="pt-5 row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/98.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Instalación de Sistemas Operativos</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/456489598_2519837488224796_493320068497481550_n.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Instalación de Software de Oficina</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/reparacion-de-software-y-hardware-de-computadores.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Reparación de Computadoras</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-4" style="width: 80rem;">
                <div class="text-center">
                    <h4>Instalación y Funcionamiento Windows 10</h4><br>
                </div>
                <div class="card text-center">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="assets/windows_10_pro.jpg" class="img-fluid rounded-start" alt="Windows 10 Pro">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Windows 10 Pro</h5>
                                <p class="card-text">Windows 10 es un sistema operativo desarrollado por Microsoft, diseñado para ser utilizado en dispositivos como computadoras de escritorio, laptops y tabletas. Su propósito principal es ofrecer una plataforma eficiente, fácil de usar y segura para realizar tareas diarias como navegar por internet, crear documentos, trabajar con aplicaciones y juegos, y realizar tareas profesionales. </p>
                                <h5 class="text-center text-danger">
                                    <b>Precio: $15.000 + 2000 IVA</b>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-4">
                        <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Detalles
                        </button>
                    </div>
                   
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Detalles del Servicio</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <ol>
                                <li><h5>Seguridad Avanzada:</h5> Windows 10 Pro ofrece protección con BitLocker, Windows Defender y Firewall.</li>
                                <li><h5>Actualizaciones:</h5> Permite el control de actualizaciones y configuraciones avanzadas con Windows Update for Business.</li>
                                <li><h5>Soporte Profesional:</h5> Compatible con dominios y máquinas virtuales mediante Hyper-V para entornos corporativos.</li>
                            </ol>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
